@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body {
    background: #107041;
}
.wrapper {
    background: #fff;
    max-width: 405px;
    margin: 135px auto;
    border-radius: 8px;
    padding: 28px 0;
}
.task-input {
    height: 52px;
    padding: 0 25px;
    position: relative;
}
.task-input img {
    position: absolute;
    top: 50%;
    transform: translate(17px, -50%);
}
.task-input input {
    height: 100%;
    width: 100%;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 0 20px 0 53px;
}
.task-input input::placeholder {
    color: #999;
}
.controls {
    display: flex;
    justify-content: space-between;
    padding: 18px 25px;
    border-bottom: 1px solid #999;
    align-items: center;
}
.controls,
li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filters span {
    margin: 0 8px;
    cursor: pointer;
    font-size: 16px;
}
.filters span:first-child {
    margin-left: 0;
}
.filters span.active {
    color: #107041;
    font-weight: 600;
    
}
.controls .clear-btn {
    outline: none;
    border: none;
    background: #107041;
    color: #fff;
    padding: 7px 13px;
    border-radius: 4px;
}
.task-box {
    margin: 20px 25px;
}
.task-box .task {
    list-style: none;
    font-size: 16px;
    margin-bottom: 18px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}
.task-box .task:last-child {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;

}
.task label input {
    margin-right: 12px;
}
.task label {
    display: flex;
}
.task label p.checked{
    text-decoration: line-through;
}
.task .settings {
    cursor: pointer;
    position: relative;
}
.settings .task-menu {
    position: absolute;
    padding: 5px 0;
    background: #fff;
    z-index: 2;
    transform: scale(0);
    right: -5px;
    bottom: -65px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
    transform-origin: top right;
    transition: transform 0.3s ease;
}
.settings .task-menu.show{
    transform: scale(1);
}
.task-menu li {
    height: 25px;
    width: 110px;
    font-size: 16px;
    padding: 17px 15px;
    margin-bottom: 2px;
    justify-content: flex-start;
}
.task-menu li:last-child{
    margin-bottom: 0;
}
.task-menu li:hover{
    background: #e0e0e0;
}
.task-menu li i {
    padding-right: 8px;
}